
.index-navbar {
    display: flex;
    gap: 70px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
}

.index-navbar .nav-link:first-child {
    color: red;
    font-weight: bold;
}

.index-navbar .nav-link:last-child {
    color: black;
    font-weight: bold;
}

.index-main {
    max-width: 1380px;
    margin: 0 auto;
}

.items-grid {
    display: flex;
    flex-wrap: wrap;
}

.item-card-link {
    text-decoration: none;
    color: black;
}

.item-card {
    position: relative;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sold-out-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.item-image {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 5px;
}